<style>
    .text-center {
        text-align: center;
    }
</style>
<h2>Review Enquiries</h2>
<table id="contact-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Telephone</th>
            <th>Message</th>
            <th>Reviewed</th>
            <th style="width: 5%">&nbsp;</th>
        </tr>
        <% feedbacks.forEach(f => { %>
        <tr>
            <td class="text-center"><%= f.name %> </td>
            <td class="text-center"><%= f.address %> </td>
            <td class="text-center"><%= f.phone %> </td>
            <td class="text-center"><%= f.description %> </td>
            <td class="text-center"><%= f.seen %> </td>
            <% if(f.seen === "no"){ %>
            <td class="text-center">
                <form action="/contact/<%= f.id %>?_method=put" method="post">
                    <button type="submit">Mark Reviewed</button>
                </form>
            </td>
            <% } %>
        </tr>
        <% }) %>
    </thead>
</table>