<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <title>Fran's Furniture - <%= title %></title>
</head>

<body>
    <header>
        <section>
            <aside>
                <h3>Opening Hours:</h3>
                <p>Mon-Fri: 09:00-17:30</p>
                <p>Sat: 09:00-17:00</p>
                <p>Sun: 10:00-16:00</p>
            </aside>
            <h1>Fran's Furniture</h1>
        </section>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/furnitures">Our Furniture</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact us</a></li>
            <li><a href="/faq">FAQs</a></li>
            <li><b><a href="/admin/login">Admin Login</a></b></li>
        </ul>
    </nav>
    <img src="/images/banners/3.jpg" />
    <main class="<%= mainClass %>">
        <%- body %>
    </main>

    <footer style="text-align: center;">&copy; Fran's Furniture <%= new Date().getFullYear(); %></footer>
</body>

</html>